POSTGRES_URI = "YOUR POSTGRES URI GOES HERE"
GOOGLE_CLIENT_ID = "YOUR GOOGLE CLIENT ID GOES HERE"
GOOGLE_CLIENT_SECRET = "YOUR GOOGLE CLIENT SECRET GOES HERE"
NEXTAUTH_SECRET="YOUR_SECRET_NEXTAUTH_CODE"